# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\View_Storage\xampp\htdocs\Github\VEDUBOX\VeduBoxUnitTest\VeduBoxUnitTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
